# GITHUB SETTINGS (machine-specific)
WORKTREES_DIR=../myapp-worktrees

# JIRA DEFAULT SETTINGS 
JIRA_ACCOUNT_URL=your-site.atlassian.net
JIRA_ACCOUNT_EMAIL=you@example.com
JIRA_TOKEN=.jira/token.txt


